          
<mat-card>
  <mat-card-content>
    <form [formGroup]="form"  >
      <h2>Unesite podatke  o igracu</h2>
      <mat-form-field>
        <input matInput  placeholder="Ime igraca" formControlName="name">
        </mat-form-field>
        <mat-form-field>
          <input  matInput placeholder="Prezime igraca" formControlName="surname">
          </mat-form-field>
          <mat-form-field>
          <input  matInput   placeholder="Datum rodjenja" [matDatepicker]="picker" formControlName="dateBirth">
          <mat-hint>YYYY-MM-DD</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
<mat-form-field>
  <mat-label>Izaberite poziciju</mat-label>
<select  formControlName="pozicija" matNativeControl required   >
  <option  *ngFor="let pozicija of pozicije" [ngValue]="pozicija" >{{pozicija}}</option>
 </select>
 
</mat-form-field>
<button mat-raised-button color="primary" (click)="addPlayer()"  >Unesite igraca</button>
    </form>
  </mat-card-content>
</mat-card>
