
  <table mat-table [dataSource]="results" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->

    <ng-container matColumnDef="sezona">
      <th mat-header-cell *matHeaderCellDef> Sezona </th>
      <td mat-cell *matCellDef="let result">{{result.sezona}}</td>
    </ng-container>
    <ng-container matColumnDef="brOdigranihSusreta">
      <th mat-header-cell *matHeaderCellDef> Broj odigranih susreta</th>
      <td mat-cell *matCellDef="let result"> {{result.brOdigranihSusreta}}</td>
    </ng-container>
    
  
    <ng-container matColumnDef="brPobeda">
      <th mat-header-cell *matHeaderCellDef> Broj pobeda</th>
      <td mat-cell *matCellDef="let result"> {{result.brPobeda}}</td>
    </ng-container>

    <ng-container matColumnDef="brNeresenih">
      <th mat-header-cell *matHeaderCellDef>Broj neresinh</th>
      <td mat-cell *matCellDef="let result">{{result.brNeresenih}}</td>
    </ng-container>
   
  
   
  
    <ng-container matColumnDef="brIzgubljenih">
      <th mat-header-cell *matHeaderCellDef>Broj izgubljenih</th>
      <td mat-cell *matCellDef="let result">{{result.brIzgubljenih}}</td>
    </ng-container>
  

    <ng-container matColumnDef="brBodova">
      <th mat-header-cell *matHeaderCellDef>Broj bodova</th>
      <td mat-cell *matCellDef="let result">{{result.brBodova}}</td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayColumn"></tr>
    <tr mat-row *matRowDef="let row; columns: displayColumn;"></tr>
  </table>