
<mat-card>
    <mat-card-content>
      <form [formGroup]="form"  >
        <h2>Uplatnice</h2>
       <!---- <mat-error >
          The username and password were not recognized
        </mat-error>-->
        <mat-form-field>
          <input  matInput  placeholder="Datum placanja"   [matDatepicker]="picker"     formControlName="datum" >
          <mat-hint>YYYY-MM-DD</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error  *ngIf="Datum?.touched && Datum?.errors?.['required']&& success==false">
            Unesite datum
          </mat-error>
        </mat-form-field>
       
        <mat-form-field>
          <input matInput placeholder="Suma" formControlName="suma"   >
          <mat-error  *ngIf="Suma?.touched && Suma?.errors?.['required'] && success==false">
            Unesite sumu
          </mat-error>
        </mat-form-field>
       
        <button mat-raised-button color="primary" (click)="MemberPay()">Unesite sumu</button>
        <p  style="color:green" *ngIf="success==true" >Uspesno ste uneli podatke</p>
      </form>
    </mat-card-content>
  </mat-card>
  

  <mat-card>
     
    <mat-card-content>
        <h2>Broj clanske karte:{{paymentMember.brojClanske}}</h2>
    </mat-card-content>
    <mat-card-content>
        <h2>Ime clana:{{paymentMember.ime+" "+paymentMember.prezime}}</h2>
    </mat-card-content>
  
    <mat-card-content>
 <h2>Ime kluba:{{paymentMember.imeTima}}</h2>
    </mat-card-content>
    <mat-card-content>
    <h2>Uplacena suma:{{paymentMember.suma}}</h2>
  </mat-card-content>
    <mat-card-content>
        <h2>Datum placanja::{{paymentMember.datumPlacanja}}</h2>
    </mat-card-content>
    <mat-card-content>
        <h2>Datum isteka:{{datee2}}</h2>
    </mat-card-content>

   
   
  </mat-card>

  