
<div>    
<h1>Ime je :{{paymentMember.ime}}</h1>
<h1>Prezime je :{{paymentMember.prezime}}</h1>
<h1>Datum placanja  je :{{paymentMember.datumPlacanja}}</h1>
<h1>Datum vazenja  je :{{datee2}}</h1>
<h1>Suma je :{{paymentMember.suma}}</h1>
<h1>Broj clanske je :{{paymentMember.brojClanske}}</h1>

</div>




<mat-card>
    <mat-card-content>
      <form [formGroup]="form"  >
        <h2>Uplatnice</h2>
       <!---- <mat-error >
          The username and password were not recognized
        </mat-error>-->
        <mat-form-field>
          <input  matInput  placeholder="Datum placanja"   [matDatepicker]="picker"     formControlName="datum" >
          <mat-hint>YYYY-MM-DD</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
       
        <mat-form-field>
          <input matInput placeholder="Suma" formControlName="suma"  >
        </mat-form-field>
       
        <button mat-raised-button color="primary" (click)="MemberPay()">Unesite sumu</button>
      </form>
    </mat-card-content>
  </mat-card>
  

  