<div  class="fl">
    <mat-card     *ngIf="paymentMember!=null" >
        <img
          mat-card-image
          [src]="paymentMember.logo"
          alt="Photo of a Shiba Inu"
        />
        <mat-card-content>
            <h2>Broj clanske karte:{{paymentMember.brojClanske}}</h2>
        </mat-card-content>
        <mat-card-content>
            <h2>Ime clana:{{paymentMember.ime+" "+paymentMember.prezime}}</h2>
        </mat-card-content>
      
        <mat-card-content>
     <h2>Ime kluba:{{paymentMember.imeTima}}</h2>
        </mat-card-content>

       

        <mat-card-content>
            <h2>Datum placanja:{{paymentMember.datumPlacanja}}</h2>
        </mat-card-content>
        <mat-card-content>
            <h2>Datum isteka:{{datee2}}</h2>
        </mat-card-content>

       
       
      </mat-card>
    </div>



    <div  *ngIf="paymentMember==null"    >
    <h1>Izvrsite potrebne uplate da biste pristupili podacima</h1>    
    </div>