<div  class="fl">
    <mat-card     *ngIf="paymentMember!=null" >
        <img
          mat-card-image
          [src]="paymentMember.logo"
          alt="Photo of a Shiba Inu"
        />
        <mat-card-content>
            <h2><strong>Broj clanske karte:</strong>{{paymentMember.brojClanske}}</h2>
        </mat-card-content>
        <mat-card-content>
            <h2><strong>Ime clana:</strong>{{paymentMember.ime+" "+paymentMember.prezime}}</h2>
        </mat-card-content>
      
        <mat-card-content>
     <h2><strong>Ime kluba:</strong>{{paymentMember.imeTima}}</h2>
        </mat-card-content>

       

        <mat-card-content>
            <h2><strong>Datum placanja:</strong>:{{paymentMember.datumPlacanja}}</h2>
        </mat-card-content>
        <mat-card-content>
            <h2><strong>Datum isteka:</strong>{{datee2}}</h2>
        </mat-card-content>

       
       
      </mat-card>
    </div>



    <div  *ngIf="paymentMember==null"    >
    <h1>Izvrsite potrebne uplate da biste pristupili podacima</h1>    
    </div>