<div  *ngFor="let player of players" style="background-color: red;" >
    <p>Ime je:{{player.ime+" "+player.prezime}}</p>
    <p>Prezime je:{{player.datumRodjenja}}</p>
    <p>Pozicija je :{{player.pozicija}}</p>
  <button  (click)="setLineUp(player.id,true)"   >Prva postava</button>
  <button   (click)="setLineUp(player.id,false)"    >Na klupi</button>

  <button  (click)="firstLineUp()"   style="background-color: green;" >Prva postava lista</button>
  <button   (click)="secondLineUp()"  style="background-color: red;"  >Na klupi lista</button>
    </div>
    