<form  [formGroup]="form">
    <input placeholder="Unesite ime tima" formControlName="name">
    <input placeholder="Unesite datum osnivanja"   type="date" formControlName="dateOfEstablishment">
    <input placeholder="Unesite grad" formControlName="city">
    <input type="file"  (change)="onFileSelected($event)"   formControlName="logo">
    <select formControlName="idMenadzera"   >

     <option   *ngFor="let manager of managers" [ngValue]="manager.id"  >{{manager.ime+" "+manager.prezime}}</option>

    </select>
    <button (click)="addTeams()"  [disabled]="!selectedFile">Posalji</button>
    </form>

    <diV  *ngIf="Name?.touched"  >
      <div   [style.backgroundColor]="'red'"  *ngIf="Name?.errors?.['required']"  >Polje za ime je obavezno</div>

     </diV>



     <diV  *ngIf="DateOfEstablishment?.touched"  >
       <div  [style.backgroundColor]="'red'"  *ngIf="DateOfEstablishment?.errors?.['minlength']"  >Polje za prezime mora imati makar 2 karaktera</div>
     </diV>




     <diV  *ngIf="City?.touched"  >
       <div  [style.backgroundColor]="'red'"  *ngIf="City?.errors?.['maxlength']"  >Polje za datum mora imati max 3 kraktera</div>
     </diV>
