
     
  <mat-card>
    <mat-card-content>
      <form [formGroup]="form"  >
        <h2>Dodajte timove</h2>
       <!---- <mat-error >
          The username and password were not recognized
        </mat-error>-->
        <mat-form-field>
          <input matInput formControlName="name"    placeholder="Ime tima"  >
        </mat-form-field>
       
  
        
            <mat-form-field>
              <input  matInput   placeholder="Datum osnivanja"  [matDatepicker]="picker" formControlName="dateOfEstablishment">
              <mat-hint>YYYY-MM-DD</mat-hint>
              <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            
        <mat-form-field>
          <input matInput   placeholder="Grad" formControlName="city">
        </mat-form-field>
        
          
          <mat-form-field>
            <div>
              <mat-toolbar>
                <!-- Display files names -->
                <input matInput  readonly name="name" formControlName="val"         />
                <!-- Browse Button -->
                <button mat-flat-button color="primary">Pregledaj fajl</button>
              </mat-toolbar>
              <!-- Fetch selected filed on change -->
              <input
              formControlName="logo"
                type="file"
                #fileInput
                id="uploadFile"
                (change)="onFileSelected($event)" 
                name="uploadFile"
                multiple="multiple"
                accept="image/*"
              />
            </div>
          </mat-form-field>
        
  <mat-form-field>
    <mat-label>Izaberite ulogu</mat-label>
    <select formControlName="idMenadzera"  matNativeControl required>

      <option   *ngFor="let manager of managers" [ngValue]="manager.id"  >{{manager.ime+" "+manager.prezime}}</option>
 
     </select>
  </mat-form-field>
  <button     mat-raised-button color="primary" (click)="addTeams()"  [disabled]="!selectedFile">Unesite podatke</button>
      </form>
    </mat-card-content>
  </mat-card>
  
 
  


  <!--<div  *ngIf="Password?.touched" >
    <div  [style.backgroundColor]="'red'" *ngIf="Password?.errors?.['required']"  >Polje za lozinku je obavezno</div>
 </div>-->








  