

          <ul *ngIf="isLogedIn()==null"  style="background-color: orange
          ;  display: flex; justify-content: flex-start; align-items: center; "
          
          
          >
        <a     [routerLink]="['']"     routerLinkActive="active">Logovanje</a>
        <a     [routerLink]="['register']" routerLinkActive="active">Registracija</a>
      </ul>
      <!--menadzer-->
      <ul  style="background-color: orange
      ;">

        <a     [routerLink]="['dodajIgrace']" routerLinkActive="active"  *ngIf="isLogedRole()=='menadzer'">Dodaj igrace </a>
        <a     [routerLink]="['listaIgraca']" routerLinkActive="active" *ngIf="isLogedRole()=='menadzer'">lista Igraca</a>
       <!-- <a     [routerLink]="['listaTimova']" routerLinkActive="active" *ngIf="isLogedRole()=='menadzer'">Lista timovaMenadzer</a>-->
        <!--<a     [routerLink]="['menadzerTimovi']" routerLinkActive="active" *ngIf="isLogedRole()=='menadzer'">Timovi Menadzera</a>-->
        

     <!--admin-->
      <ul  style="background-color: orange
      ;">
        <a     [routerLink]="['dodajTimove']" routerLinkActive="active"   *ngIf="isLogedRole()=='admin'">Dodaj timove</a>
        <a     [routerLink]="['listaTimova']" routerLinkActive="active"   *ngIf="isLogedRole()=='admin'">Lista timov</a>
        <a     [routerLink]="['dodajRaspored']" routerLinkActive="active"  *ngIf="isLogedRole()=='admin'">Unesi raspored</a>
        <a     [routerLink]="['pregledRaspored']" routerLinkActive="active"  *ngIf="isLogedRole()=='admin'">Lista rasporeda</a>
        <a     [routerLink]="['rezultatiTimova']" routerLinkActive="active"    *ngIf="isLogedRole()=='admin'">Lista rezultata</a>
       <!-- <a     [routerLink]="['rezultatiTimova2']" routerLinkActive="active"  *ngIf="isLogedRole()=='admin'" >Lista rezultata22222</a>-->
      </ul>

        <button  (click)="logOut()"  *ngIf="isLogedIn()!=null" >Odjavi se</button>
