  

<mat-toolbar color="primary"      *ngIf="isLogedIn()==null" >
  <mat-toolbar-row   class="r">
   
    <span class="menu-spacer"></span>
    <div   >
      <a  mat-button   [routerLink]="['']"     routerLinkActive="active">Logovanje</a>
      <a  mat-button  [routerLink]="['register']" routerLinkActive="active">Registracija</a>

    </div>
  </mat-toolbar-row>

 
</mat-toolbar>




<mat-toolbar color="primary"      *ngIf="isLogedRole()=='menadzer'" >
  <mat-toolbar-row  class="p">
   
    
    <div>
      <a  mat-button   [routerLink]="['dodajIgrace']" routerLinkActive="active"  >Dodaj igrace </a>
        <a  mat-button   [routerLink]="['listaIgraca']" routerLinkActive="active" >Igraci</a>
        <a  mat-button   [routerLink]="['prvaPostava']" routerLinkActive="active" >Prva postava</a>
        <a  mat-button   [routerLink]="['drugaPostava']" routerLinkActive="active" >Na klupi</a>
       <!-- <a     [routerLink]="['listaTimova']" routerLinkActive="active" *ngIf="isLogedRole()=='menadzer'">Lista timovaMenadzer</a>-->
        <!--<a     [routerLink]="['menadzerTimovi']" routerLinkActive="active" *ngIf="isLogedRole()=='menadzer'">Timovi Menadzera</a>-->
        

    </div>
    <a  mat-button  (click)="logOut()"  *ngIf="isLogedIn()!=null" >Odjavi se</a>
  </mat-toolbar-row>

 
</mat-toolbar>





<mat-toolbar color="primary"      *ngIf="isLogedRole()=='admin'" >
  <mat-toolbar-row   class="p">
   
   
    <div>
      <a  mat-button   [routerLink]="['dodajTimove']" routerLinkActive="active"   >Dodaj timove</a>
      <a  mat-button   [routerLink]="['dodajRaspored']" routerLinkActive="active"  >Unos utakmice</a>
      <a   mat-button  [routerLink]="['pregledRaspored']" routerLinkActive="active"  >Utakmice</a>
      <a  mat-button   [routerLink]="['rezultatiTimova']" routerLinkActive="active"    >Lista rezultata</a>
      <a   mat-button  [routerLink]="['dozvoliNavijace']" routerLinkActive="active"    >Lista navijaca</a>
      <a   mat-button  [routerLink]="['navijaciUplate']" routerLinkActive="active"    >Uplate Navijaca</a>
      <!-- <a     [routerLink]="['rezultatiTimova2']" routerLinkActive="active"  *ngIf="isLogedRole()=='admin'" >Lista rezultata22222</a>-->
      
    </div>
    <a  mat-button  (click)="logOut()"  *ngIf="isLogedIn()!=null" >Odjavi se</a>
  </mat-toolbar-row>

 
</mat-toolbar>




<mat-toolbar color="primary"      *ngIf="isLogedRole()=='navijac'" >
  <mat-toolbar-row   class="p">
   
   
    <div>
      <a  mat-button   [routerLink]="['pregledRezultata']" routerLinkActive="active">Sezonski rezultati</a>
<a   mat-button  [routerLink]="['podaciNavijaca']" routerLinkActive="active">Podaci navijaca</a>


    </div>
    <a  mat-button   (click)="logOut()"  *ngIf="isLogedIn()!=null" >Odjavi se</a>
  </mat-toolbar-row>

 
</mat-toolbar>




